/* ================ Collaborative Section =============== */
.collab {
	&__content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respon(land-phone) {
			flex-direction: column;
		}
	}

	&__img-box {
		height: 50rem;

		width: 55%;

		@include respon(land-phone) {
			width: 100%;
			margin-bottom: 5rem;
		}
	}

	&__content {
		width: 42%;

		padding: 0 4rem 0 2rem;

		& > * {
			margin: 1.5rem 0;
		}

		@include respon(land-phone) {
			width: 100%;
		}
	}
}
