/* ================ Collaborative Section =============== */
.collab {
	&__content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img-box {
		height: 50rem;

		width: 55%;
	}

	&__content {
		width: 42%;

		padding: 0 4rem 0 2rem;

		& > * {
			margin: 1.5rem 0;
		}
	}
}
