/* ================== Future Section ================= */
.future {
	&__content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > * {
			width: 45%;
		}

		@include respon(land-phone) {
			flex-direction: column;

			& > *:first-child {
				width: 90%;
			}

			& > *:last-child {
				width: 100%;
			}
		}
	}

	&__content {
		& > *:first-child {
			margin-bottom: 2rem;
		}
	}

	&__counter {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--item {
			text-align: center;
		}

		&--number {
			font-size: 9rem;
		}

		&--text {
			margin-top: -1rem;
			font-size: 1.7rem;
		}

		@include respon(land-phone) {
			justify-content: space-evenly;
		}
	}

	&__img-box {
		height: 40rem;

		@include respon(land-phone) {
			margin-top: 5rem;
		}
	}
}
