/* =================== Home ================== */
.container {
	width: 100%;
	min-height: 100vh;
	height: auto;

	display: flex;
}

.header {
	width: 20rem;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;

	transition: all 0.5s, background-color 1s ease-in-out;

	&.show {
		left: 0;

		.logo-box {
			width: 16rem;
			height: 16rem;
		}

		.nav__item {
			margin-bottom: 2.5rem;
		}

		.nav__link {
			font-size: 2.5rem;
		}
	}

	@include respon(tablet) {
		padding-top: 3rem;
		z-index: 8;

		width: 100%;
		left: -100%;
		background-color: $color-primary-lighter;

		.logo-box {
			width: 16rem;
			height: 16rem;
		}

		.nav__item {
			margin-bottom: 2.5rem;
		}

		.nav__link {
			font-size: 2.5rem;
		}
	}
}

.main {
	flex: 1;
	margin-left: 20rem;

	@include respon(tablet) {
		margin-left: 0;
	}
}

section {
	padding: 2rem 2rem 2rem 0;

	@include respon(tablet) {
		padding: 2rem;
	}
}

.believe {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.future {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.collab {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.gallery {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.project {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}
