/* =================== Home ================== */
.container {
	width: 100%;
	min-height: 100vh;
	height: auto;

	display: flex;
}

.header {
	width: 18rem;

	position: fixed;
}

.main {
	flex: 1;
	margin-left: 18rem;
}

section {
	padding: 2rem 2rem 2rem 0;
}

.believe {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.future {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.collab {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.gallery {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}

.project {
	&__img {
		transition: all 0.4s;
	}

	&__img-box {
		overflow: hidden;
	}

	&__img-box:hover &__img {
		transform: scale(1.1) rotate(-1deg);
	}
}
