/* ================== Header ================= */

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.logo-box {
	width: 10rem;
	height: 10rem;
}
