@tailwind base;
@tailwind components;
@tailwind utilities;

.read-more {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Toastify__toast--info {
	background: #3498db !important;
}

.Toastify__toast--success {
	background: #1abc9c !important;
}

.Toastify__toast--warning {
	background: #f1c40f !important;
}

.Toastify__toast--error {
	background: #e74c3c !important;
}
